<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

	<servlet>
		<servlet-name>LogIn</servlet-name>
		<servlet-class>controller.LogIn</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogIn</servlet-name>
		<url-pattern>/LogIn</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ExecuteLogin</servlet-name>
		<servlet-class>controller.ExecuteLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExecuteLogin</servlet-name>
		<url-pattern>/ExecuteLogin</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>GeneralDashboard</servlet-name>
		<servlet-class>controller.GeneralDashboard</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GeneralDashboard</servlet-name>
		<url-pattern>/GeneralDashboard</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ManagerDashboard</servlet-name>
		<servlet-class>controller.ManagerDashboard</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManagerDashboard</servlet-name>
		<url-pattern>/ManagerDashboard</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogOut</servlet-name>
		<servlet-class>controller.LogOut</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogOut</servlet-name>
		<url-pattern>/LogOut</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AccountList</servlet-name>
		<servlet-class>controller.AccountList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountList</servlet-name>
		<url-pattern>/AccountList</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AccountAdd</servlet-name>
		<servlet-class>controller.AccountAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountAdd</servlet-name>
		<url-pattern>/AccountAdd</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ExecuteAccountAdd</servlet-name>
		<servlet-class>controller.ExecuteAccountAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExecuteAccountAdd</servlet-name>
		<url-pattern>/ExecuteAccountAdd</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AccountEdit</servlet-name>
		<servlet-class>controller.AccountEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountEdit</servlet-name>
		<url-pattern>/AccountEdit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AccountAction</servlet-name>
		<servlet-class>controller.AccountAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountAction</servlet-name>
		<url-pattern>/AccountAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ExecuteAccountEdit</servlet-name>
		<servlet-class>controller.ExecuteAccountEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExecuteAccountEdit</servlet-name>
		<url-pattern>/ExecuteAccountEdit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteAccountList</servlet-name>
		<servlet-class>controller.DeleteAccountList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteAccountList</servlet-name>
		<url-pattern>/DeleteAccountList</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ContactUs</servlet-name>
		<servlet-class>controller.ContactUs</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContactUs</servlet-name>
		<url-pattern>/ContactUs</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ContactUsDetail</servlet-name>
		<servlet-class>controller.ContactUsDetail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContactUsDetail</servlet-name>
		<url-pattern>/ContactUsDetail</url-pattern>
	</servlet-mapping>



</web-app>